<nav class="navbar navbar-default navbar-static-top" id="navigationBar" ng-controller="HeaderCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#/calendar" class="navbar-brand navbar-link" id="navbarhead">Hostel Refridgerator</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><p class="navbar-text">Welcome {{user}}!</p> </li>
				<li><a id="logoutbtn" class="navbar-link" ng-click="logout()">Log out <span class="sr-only">(current)</span></a></li>
			</ul>
		</div>
	</div>
</nav>