<div id="homemain" ng-controller="HomeCtrl">

    <div id="welcomeText">
        <h1>Hostel refrigerator</h1>
        <h3 id="smallWelcome">Don't let good food go to waste</h3>
    </div>
    <div id="loginbox">
        <h2 id="loginheadline">LOGIN</h2>
        <input class="form-control" id="inputusername" name="username" type="text" placeholder='{{usernameplaceholder}}'  ng-model="username">
        <input class="form-control" id="inputpassword" name="password" type="password" placeholder='{{passwordplaceholder}}'  ng-model="password">
        <p id="nonmatchinglogin" ng-model="nonmatchingLogin" ng-show="getNonmatchingLogin()">* Username and password do not match</p>
        <div class="horizontalbuttons">
            <button type="button" class="btn-primary btn-md" id="loginButton" ng-click="login()">
                LOGIN
            </button>
            <a href="/#register">
                <button type="button" class="btn-primary btn-md" id="registerButton">
                    REGISTER
                </button>
            </a>
        </div>
    </div>

   
</div>