<ng-include src="'partials/header.html'" ng-controller="HeaderCtrl"></ng-include>

    <div class="container" ng-controller="RefridgeratorCtrl">


      <div id="wrapper">

        <!-- The a href links are TBD -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#/refridgerator">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#/refridgerator">My inventory</a>
                </li>
                <li>
                    <a href="#/refridgerator">History</a>
                </li>
            </ul>
        </div>

        <!-- Right side of page, show the table with real time data here  -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Inventory</h1>
                        <div row="row">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Owner</th>
                                <th>Food</th>
                                <th>Category</th>
                                <th>Date purchased</th>              
                                <th>Expiry date</th>
                                <th>Indicator</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr>
                                <td>John</td>
                                <td>Milk</td>
                                <td>Dairy</td>  
                                <td>2016-04-12</td>
                                <td>2016-04-15</td>
                                <td id="indicator1"></td>
                              </tr>

                              <tr>
                                <td>Minock</td>
                                <td>Cucumber</td>
                                <td>Vegetable</td>
                                <td>2016-04-10</td>
                                <td>2016-04-25</td>
                                <td id="indicator2"></td>
                              </tr>

                            </tbody>
                          </table>

                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
      
    </div>
